@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg{
    background: url('https://img.freepik.com/premium-photo/lumberjack-with-chainsaw-cutting-big-beech-logs_158187-2396.jpg?w=2000') no-repeat
center center/cover;
position:absolute;
top: -30px;
left: -30px;
width: calc(100vw + 60px);
height: calc(100vh + 60px);
z-index: -1;
filter: blur(0px);
}

.loading-text{
    font-size: 50px;
    color: #fff;
}